---
layout: markdown_page
title: "Why Ultimate?"
description: "Ultimate enables enterprises maintain a consistent DevOps experience with a single, scalable interface for end to end DevOps. Learn more!"
canonical_path: "/pricing/ultimate/"
---
<% tier_names = ['Ultimate'] %>

## GitLab Ultimate

GitLab Ultimate is ideal for organizations aiming to optimize and accelerate delivery while managing priorities, security, risk, and compliance.

Available in both SaaS and self-managed deployment options, GitLab Ultimate adds advanced security capabilities, cloud native security, compliance, portfolio management and value stream management. In addition, GitLab Ultimate allows for free guest user licenses to improve your license usage for users with minimal interaction with the system.

Please note this is not a comprehensive set of capabilities in GitLab Ultimate, visit [about.gitlab.com/features](https://about.gitlab.com/features/) for the latest. GitLab continuously adds features every month and evaluates features that can be moved to lower tiers to benefit more users.

### GitLab Ultimate helps you

#### Increase Operational Efficiencies
GitLab Ultimate enables organizations maintain a consistent DevOps experience with a single, scalable interface for end to end DevOps. With this, developer satisfaction and productivity is massively improved with more time for value added projects rather than spending time learning different toolsets and integrating them. Additionally, DevOps Dashboards & Analytics available in Ultimate facilitate greater visibility and transparency across projects - helping to improve efficiencies and eliminate bottlenecks in the organization.
> **~20 tools consolidated into GitLab; Glympse remediated security issues faster than any other company in their Security Auditor's experience** <br><br> Development can move much faster when engineers can stay on one page and click buttons to release auditable changes to production and have easy rollbacks; everything is much more streamlined. Within one sprint, just 2 weeks, Glympse was able to implement security jobs across all of their repositories using GitLab’s CI templates and their pre-existing Docker-based deployment scripts.<br> ***Zaq Wiedmann*** <br> Lead Software Engineer, Glympse <br> [Read more](/customers/glympse/)

#### Deliver Better Products Faster
GitLab Ultimate enables seamless collaboration across Dev and Ops with continuous innovation.
>  **Jenkins build took 3 hours, now with GitLab it takes 30 mins: a 6x improvement** <br><br>GitLab has allowed Alteryx to have code reviews, source control, continuous integration, and continuous deployment all tied together and speaking the same language. The team took a build that was running legacy systems and moved it to GitLab. This build took 3 hours on the Jenkins machine and it took 30 minutes to run on GitLab after it was going. Engineers can actually look at the build and understand what’s going on; they’re able to debug it and make it successful <br> [Read more](/customers/alteryx/)

#### Reduce Security & Compliance Risk
GitLab Ultimate introduces capabilities to help manage security risk and achieve regulatory compliance.
>  **BI Worldwide performed 300 SAST/Dependency scans in the first 4 days of use helping the team identify previously unidentified vulnerabilities**<br><br> One tool for SCM+CI/CD was a big initial win. Now wrapping security scans into that tool as well has already increased our visibility into security vulnerabilities. The integrated Docker registry has also been very helpful for us. Issue/Product management features let everyone operate in the same space regardless of role. <br> ***Adam Dehnel*** <br> *Product architect, BI Worldwide* <br> [Read more](/customers/bi_worldwide/)

Like [GitLab Premium](/pricing/premium), GitLab Ultimate also includes priority support, live upgrade assistance, and a [Technical Account Manager](/services/customer-success-services/) for eligible customers.

**Read all case studies [here](/customers/)**

<% tier_names.each do |tier_name| %>
<%= "### #{tier_name} features" %>

<% data.pricing_themes.select{|theme| theme.tier == tier_name && !(theme.value_driver == false)}.each do |theme|%>
<%= "#### #{theme.name} "%>

<% features = data.features.features.select{|feature| (feature.pricing_theme == theme.name) && (feature[("gitlab_" + tier_name.downcase).to_sym]) }.sort_by{ |feature| feature.pps_aggregate}.reverse %>

| Feature name | Value |
| ----------- | ------------------ |
<% data.features.features.select{|feature| (feature.pricing_theme == theme.name) && (feature[("gitlab_" + tier_name.downcase).to_sym]) }.sort_by{ |feature| feature.pps_aggregate}.reverse.each do |feature| %>
<%= "| [**#{feature.title}**](#{feature.link}) | #{feature.description.gsub("\n", ' ')} |" %>
<% end %>

<% end %>

<% end %>

## Ultimate features unrelated to a theme

<% tier_names.each do |tier_name| %>
<%= "### #{tier_name}" %>

| Feature name | Value |
| ----------- | ------------------ |
<% data.features.features.select{|feature| (feature.pricing_theme == nil) && (feature[("gitlab_" + tier_name.downcase).to_sym])  && !feature.gitlab_core}.sort_by{ |feature| feature.pps_aggregate}.reverse.each do |feature| %>
<% next if (feature.gitlab_premium) %>
<%= "| [**#{feature.title}**](#{feature.link}) | #{feature.description.gsub("\n", ' ')} |" %>
<% end %>

<% end %>

---

## Changes
This page displays content from [`pricing_themes.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/pricing_themes.yml) and [`features.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/features.yml), changes can be made by proposing adjustments to that file.
