---
layout: markdown_page
title: "Why Premium?"
description: "GitLab Premium is ideal for scaling organizations and for multi team usage. Find more information on the benefits here!"
canonical_path: "/pricing/premium/"
---
<% tier_names = ['Premium'] %>

## GitLab Premium

GitLab Premium is ideal for scaling organizations and for multi team usage. Available in both SaaS and self-managed deployment options, GitLab Premium helps to enhance team productivity and collaboration through faster code reviews, advanced CI/CD, enterprise agile planning and release controls. GitLab Premium adds enterprise level features like priority support, live upgrade assistance and a technical account managers (for eligible accounts). It also adds enterprise readiness features like High Availability, Disaster Recovery for self-managed instances.

Please note this is not a comprehensive set of capabilities in GitLab Premium, visit [about.gitlab.com/features](https://about.gitlab.com/features) for the latest. GitLab continuously adds features every month and evaluates features that can be moved to lower tiers to benefit more users.

### GitLab Premium helps you

#### Increase Operational Efficiencies
To cater to scaling enterprises, Premium introduces capabilities that allow enterprises analyze team, project and group trends to uncover patterns and setup consistent standards to improve overall productivity.
> **90% of Paessler's QA is self served - the QA engineer’s tasks have been slashed from about an hour a day to 30 seconds, a 120x speed increase** <br><br> Every branch gets tested, it’s built into the pipeline. As soon as you commit your code, the whole process kicks off to get it tested. The amount of effort involved in actually getting to the newest version that you’re supposed to be testing, whether you’re a developer or a QA engineer, is minimized immensely. <br> ***Greg Campion*** <br> Senior Systems Administrator, Paessler <br> [Read more](/customers/paessler/)

#### Deliver Better Products Faster
Premium supports enterprise grade high availability, disaster recovery and replication for geographically distributed organizations, thereby delivering improved uptime and performance.
> **Goldman Sachs improves from 1 build every two weeks to over a thousand per day** <br><br> GitLab has allowed us to dramatically increase the velocity of development in our Engineering Division. We believe GitLab’s dedication to helping enterprises rapidly and effectively bring software to market will help other companies achieve the same sort of efficiencies we have seen inside Goldman Sachs. We now see some teams running and merging 1000+ CI feature branch builds a day! <br> ***Andrew Knight*** <br> Managing Director, Goldman Sachs <br> [Read more](/customers/goldman-sachs/)

#### Reduce Compliance Risk
Premium supports features like Instance Events (self-managed only), verified committers, signed commits which allow you to enforce and track compliance policies in your organization.

**Read all case studies [here](/customers/)**

<% tier_names.each do |tier_name| %>
<%= "### #{tier_name} features" %>

<% data.pricing_themes.select{|theme| theme.tier == tier_name && !(theme.value_driver == false)}.each do |theme|%>
<%= "#### #{theme.name} "%>

<% features = data.features.features.select{|feature| (feature.pricing_theme == theme.name) && (feature[("gitlab_" + tier_name.downcase).to_sym]) }.sort_by{ |feature| feature.pps_aggregate}.reverse %>

| Feature name | Value |
| ----------- | ------------------ |
<% data.features.features.select{|feature| (feature.pricing_theme == theme.name) && (feature[("gitlab_" + tier_name.downcase).to_sym]) }.sort_by{ |feature| feature.pps_aggregate}.reverse.each do |feature| %>
<%= "| [**#{feature.title}**](#{feature.link}) | #{feature.description.gsub("\n", ' ')} |" %>
<% end %>

<% end %>

<% end %>

## Premium features unrelated to a theme

<% tier_names.each do |tier_name| %>
<%= "### #{tier_name}" %>

| Feature name | Value |
| ----------- | ------------------ |
<% data.features.features.select{|feature| (feature.pricing_theme == nil) && (feature[("gitlab_" + tier_name.downcase).to_sym])  && !feature.gitlab_core}.sort_by{ |feature| feature.pps_aggregate}.reverse.each do |feature| %>
<%= "| [**#{feature.title}**](#{feature.link}) | #{feature.description.gsub("\n", ' ')} |" %>
<% end %>

<% end %>

---

## Changes
This page displays content from [`pricing_themes.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/pricing_themes.yml) and [`features.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/features.yml), changes can be made by proposing adjustments to that file.
